/* Variables */
:root {
	--primary-bg-color: #e6e1ea;
	--secondary-bg-color: #cebfe4;
	--primary-foreground-color: #FFF;
	--text-color: #000;
	--secondary-text-color: #BBB;
	--highlight-color: #9600ff;
	--highlight-second-color: #7f02ea;
	--highlight-text-color: #FFF;
	--disabled-highlight: #cebfe4;
	--tag-color: #8e829f;
	--tag-text-color: #FFF;
	--top-bar-color: #9600ff;
	--top-bar-text-color: #FFF;
	--button-text-color: #FFF;
}

/* Switch to dark mode color */
[data-theme="dark"] {
	--primary-bg-color: #0e0e28;
	--secondary-bg-color: #060612;
	--primary-foreground-color: #1e1948;
	--text-color: #FFF;
	--secondary-text-color: #BBB;
	--highlight-color: #5f4eed;
	--highlight-second-color: #5a4ebf;
	--highlight-text-color: #FFF;
	--disabled-highlight: #7b74ab;
	--tag-color: #0e0e28;
	--top-bar-color: #060612;
	--top-bar-text-color: #FFF;
}

[data-theme="light"] {
	--primary-bg-color: #e6e1ea;
	--secondary-bg-color: #cebfe4;
	--primary-foreground-color: #FFF;
	--text-color: #000;
	--secondary-text-color: #BBB;
	--highlight-color: #9600ff;
	--highlight-second-color: #7f02ea;
	--highlight-text-color: #FFF;
	--disabled-highlight: #cebfe4;
	--tag-color: #8e829f;
	--tag-text-color: #FFF;
	--top-bar-color: #9600ff;
	--top-bar-text-color: #FFF;
	--button-text-color: #FFF;
}

/* placeholder override */
::placeholder {
	opacity: 0.4;
}

/* Basic tag overrides */
* {
	font-size: 20px;
	font-family: Garamond;
	color: var(--text-color);
}

body {
	margin: 0px;
	box-sizing: border-box;
	background-color: var(--primary-bg-color);
	position: relative;
	min-height: 100vh;
	padding-bottom: 82px;
}

h1 {
	font-size: 40px;
	margin: 0px;
}

h2 {
	font-size: 30px;
	margin: 0px;
}

a {
	color: inherit;
	text-decoration: inherit;
}

textarea {
	background: var(--primary-bg-color);
	padding: 10px;
	border-style: solid;
	border-color: var(--disabled-highlight);
	border-width: 2px;
	border-radius: 15px;
	outline: none;
	width: 100%;
	box-sizing:border-box;
	font-family: Garamond;
	font-size: 20px;
}

textarea:focus {
	border-color:var(--highlight-color);
}

/* Generally used classes */
.email-text {
	color: var(--disabled-highlight);
}

.content-square {
	position: relative;
	box-sizing: border-box;
	background-color: var(--primary-foreground-color);
	
	width: 500px;
	height: 500px;
	margin: auto;
	margin-top: 100px;
	padding: 20px;
	padding-left: 60px;
	padding-right: 60px;
	text-align: center;

	display: block;
	color: var(--text-color);
}

.content-square-header {
	font-size: 40px;
	margin-top: 50px;
	margin-bottom: 50px;

	display: block;
}

.content-square-desc {
	margin: 0;
	font-size: 24px;
	margin-bottom: 30px;

	display: block;
}

.content-square-actiontext {
	font-size: 30px;
	margin-bottom: 20px;
}

.content-square-footer {
	display: block;
}

.custom-text-input-box {
	box-sizing: border-box;
	padding: 8px;
	background-color: var(--primary-bg-color);
	font-size: 24px;
	text-align: initial;

	border: 0px;
	border-radius: 20px;
	height: 32px;
	display: table;
}

.custom-text-input {
	outline: none;
	font-family: Garamond;
	font-size: 20px;
	background: var(--primary-bg-color);
	border: none;
	width: 100%;
}

.content-square-footer-action-text {
	padding-bottom: 10px;
	font-size: 20px;
}

.center-panel {
	width: 100%;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	background: var(--primary-foreground-color);
	box-sizing:border-box;
	padding: 20px;
	margin-top: 20px;
}

.content-page {
	background: var(--primary-foreground-color);
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	box-sizing:border-box;
	padding: 40px;
	text-align: center;
	margin-top: 50px;
	line-height: 2;
}

.theme-icon {
	height: 20px;
	position: absolute;
	right: 0;
	margin-right: 20px;
}

.theme-icon:hover {
	cursor: pointer;
}

.tooltip {
	position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #000A;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000A transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Single use all page ids */
#page-main {
	/*min-height: calc(100vh - 62px);*/
}

#page-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: var(--secondary-bg-color);
	box-sizing:border-box;
	padding: 20px;
	text-align: center;
}