.loginMenu {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	z-index: 1000;
}

.loginMenu-background {
	width: 100%;
	height: 100%;
	background: #0008;
	position: absolute;
}

.loginMenu .custom-text-input-box {
	width: 100%;
	margin-bottom: 20px;
}

.loginButton {
	width: 100%;
	height: 40px;
	border-radius: 20px;
	background: var(--highlight-color);
	padding: auto;
	padding-top: 6px;
	margin-top: 50px;
}

.loginButton:hover {
	background: var(--highlight-second-color);
	cursor: pointer;
}

.loginButton span {
	display: block;
	margin: auto;
	font-size: 20px;
	margin-top: 5px;
	color: var(--button-text-color);
}

.loginMenu .user-actions {
	margin-bottom:20px;
}

.loginMenu .user-actions span{
	padding-left:10px;
	padding-right:10px;
}

.user-actions span:hover{
	cursor:pointer;
}

.user-menu {
	height: 100%;
}

.user-dropdown-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
	background: var(--top-bar-color);
	margin-top: 10px;
	position: absolute;
	top: 0;
}

.user-dropdown-list-item{
	padding: 10px;
	color: var(--top-bar-text-color);
	z-index: 2001;
}

.user-dropdown-list-sep {
	padding: 0px;
	width: 100%;
	height: 1px;
	background: var(--text-color);
}

.passworddontmatch {
	box-shadow: 0 0 1pt 1pt #F009;
}

.login-help-text {
	color: var(--secondary-text-color);
	font-style: italic;
}